<p><%= link_to "Home", root_path %> 
	<% if user_signed_in? %>
	| <%= link_to "My Profile", users_show_path(current_user) %>
	<% else %>
	<% end %>
</p>
<h1> <%= @user.name %></h1> 
<br /><hr>

<div class="row">
	<% @user.posts.order(created_at: :desc).each do |post| %>
	  <div class="col-sm-4">
	    <%= link_to image_tag(post.image.url(:medium)), post_path(post) %>
	    <h3><%= post.title %></h3>
	    <p>by <%= link_to post.user.name, users_show_path(post.user) %></p>
	    <%= link_to 'Delete', post_path(post), method: :delete,
										data: {confirm: 'Do you want to remove this post?'} if current_user == @user %>
	  </div>
  <% end %>
</div>
