<p><%= link_to "Home", root_path %> 
	<% if user_signed_in? %>
	| <%= link_to "My Profile", users_show_path(current_user) %>
	<% else %>
	<% end %>
</p>

<h1><%= @post.title %></h1>
<br /><hr>

<%= image_tag(@post.image.url(:actual)) %>
<hr>
<b>by <%= link_to @post.user.name, users_show_path(@post.user) %></b>
<b> | Photo rating - <%= average_rating(@post) if @post.comments.presence %></b>
<hr>
<% if current_user.nil? %>
<% elsif current_user == @post.user or current_user.admin? %>
	<%= link_to "Edit post", edit_post_path(@post), class: "btn btn-default" %>
	<%= link_to "Delete post", post_path(@post), method: :delete,
										data: {confirm: 'Do you want to remove this post?'}, class: "btn btn-default" %>
<% else %>
<% end %>

<h2><%= link_to 'Comments', '#', id: 'comments-link' %></h2>
<div id="comment-section">
  <ol id="comments">
    <%= render @post.comments.order(created_at: :desc) %>
  </ol>

  <h3>Add a comment:</h3>
  <%= render 'comments/form' %>
</div>
<br />